<div class="p-4">
  <h1 class="text-2xl mb-3">New Expense</h1>

  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@expense.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form' %>

  <%= link_to 'Back', expenses_path, class: 'underline'%>
</div>
