<p>
  <strong>Title:</strong>
  <%= @expense.title %>
</p>
 
<p>
  <strong>Cost:</strong>
  <%= @expense.cost %>
</p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<%= link_to 'Back', expenses_path %>